@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,700');
body{
	font-family: Lato, sans-serif;
	width: 1600px;
	margin: 0 auto;
}
*{transition: all .1s ease-in;}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}

header {
	width: 1200px;
	margin: 0 auto;
}
.logo {
	display: inline-block;
	width: 10%;
	padding: 0;
	margin: 0 auto;
}
.menu {
	display: inline-block;
	width: 75%;
	float: right;
	margin: 0 auto;
	padding-top: 25px;
	padding-right: 40px;
	vertical-align: top;
	text-align: right;
}

.menu .item {
	display: inline-block;
	width: auto;
	list-style: outside none none;
	padding-left: 20px;
}
.menu .item a {
	text-decoration: none;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	text-transform: uppercase;
}
.mainBanner {
	background: url("../img/main-image.jpeg") center center;
	height: 880px;
	margin: -112px auto 0 auto;
	text-align: center;
}
.bannerText {
	width: 1200px;
	margin: 0 auto;
}
.mainBanner .before-tittle {
	text-align: center;
	padding-top: 350px;
	margin: 0;

	font-family: 'Times New Roman';
	color:  #ffffff;
	font-size: 36px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1.8px;
	line-height: 30px;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	opacity: 0.8;
 }
.mainBanner .title {
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;

	color:  #ffffff;
	font-size: 100px;
	font-weight: 700;
	line-height: 100px;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	text-transform: uppercase;
}
.mainBanner .button {
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;

	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;

	display: inline-block;
	border-radius: 3px;
	border-style: solid;
	border-width: 3px;
	border-color:  #ffffff;
	box-sizing: border-box;
	background-color:  rgba(246, 150, 121, 0);
	width: 280px;
	height: 68px;
}
.mainBanner .after-title {
	text-align: center;
	margin: 0 auto;
	padding-top: 35px;

	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	text-transform: uppercase;
	opacity: 0.8;
}
.mainBanner .after-title a {
	text-decoration: none;
	color:  #ffffff;
}
.mainBanner .after-title:hover a {
	font-weight: 700;
	text-decoration: underline;
}
.features {
	height: 435px;
}
.featuresList {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0;
}

.burger, .money, .chef {
	display: inline-block;
	width: 30%;
}
.action {
	color:  #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: -10px;
}
.action + p {
	color:  #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
}
.fudiAppSection {
	background: #f7f7f7;
	height: 880px;
}
.fudiApp {
	width: 1200px;
	margin: 0 auto;
}
.fudiAppImage {
	display: inline-block;
	width: 40%;
	height: 780px;
	margin-top: 100px;

}
.fudiAppDescription {
	display: inline-block;
	width: 50%;
	float: right;
	margin-top: 180px;
}
.titleApp {
	color:  #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercasecase;
	margin-bottom: -15px;
}
.fudiAppDescription p {
	color:  #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	margin: 0;
	padding: 10px 40px 15px 0;
}
.appStore{
	border: none;
	background: url("../img/appStore.png") center center no-repeat;
	width: 112px;
	height: 39px;
	padding: 0;
	margin-right: 10px;
	margin-top: 15px;
}
.googlePlay {
	padding: 0;
	border: none;
	background: url("../img/googlePlay.png") center center no-repeat;
	width: 112px;
	height: 39px;
}
.review {
	height: 460px;
	background: url("../img/background.jpeg") center center;
}
.reviewContent {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	opacity: 0.7;

	padding-top: 80px;
}
.reviewText {
	font-family: Lato;
	color:  #ffffff;
	font-size: 30px;
	line-height: 36px;
	font-weight: 100;
	margin: 25px 0 20px 0;
}
.reviewSubText {
	color:  #ffffff;
	font-size: 18px;
	font-style: italic;
	line-height: 36px;
	margin: 5px 0 30px 0;
}
.slider {
	margin-bottom: 80px;
}
.cuisines {
	width: 1600px;
	height: 620px;
	margin: 0 auto;
}
.cuisinesHeader {
	height: 165px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.cuisinesHeader h3 {
	color:  #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	padding: 90px 0 47px 0;
	margin-bottom: -60px;
}
.cuisinesList ul {
	font-size: 0;
	list-style: none outside;
	padding: 0;
	margin: 0;
}
.cuisinesList ul:hover li:not(:hover) {
	opacity: 0.5;
}
.cuisinesList li {
	display: inline-block;
	width: 20%;
	height: 225px;
	padding-top: 65px;
	margin: 0;

	font-weight: 700;
	line-height: 30px;
	letter-spacing: 1px;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	text-align: center;
}
.cuisinesList a {
	color:  #ffffff;
	text-decoration: none;
}
.cuisinesList span {
	font-family: 'Times New Roman';
	font-size: 15px;
	font-style: italic;
	opacity: 0.8;

}
.cuisinesList li p {
	font-family: Lato;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0;
}
.italian {
	background: url("../img/italian.png");
}
.indian {
	background: url("../img/indian.png");
}
.french {
	background: url("../img/french.png");
}
.steakhouse {
	background: url("../img/steakhouse.png");
}
.seafood {
	background: url("../img/seafood.png");
}
.sushi {
	background: url("../img/sushi.png");
}
.mexican {
	background: url("../img/mexican.png");
}
.chinese {
	background: url("../img/chinese.png");
}
.pizza {
	background: url("../img/pizza.png");
}
.american {
	background: url("../img/american.png");
}
.statistics {
	width: 1200px;
	margin: 0 auto;
}
.numbers ul {
	height: 180px;
	list-style: none;
	padding: 50px 0 0 0;
	font-size: 0;
	text-align: center;
}
.numbers li {
	display: inline-block;
	width: 20%;

	letter-spacing: 1px;
}
.numbers span {
	color:  #000000;
	font-size: 36px;
	font-weight: 700;
	line-height: 30px;
}
.numbers p {
	color:  #000000;
	font-size: 16px;/
	font-weight: 100;
	line-height: 18px;
	opacity: 0.8;

	margin-top: 10px;
	margin-bottom: 0;
}
.ba-footer {
	background-color: #f7f7f7;
	height: 95px;
	border-top: 1px solid #e2e2e2;
}
.footerInfo {
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
	padding: 25px 0 40px 0;
}
.copyright {
	display: inline-block;
	width: 50%;
	padding-left: 40px;
}
.designLink {
	display: inline-block;
	width: 50%;
	text-align: right;
	padding-right: 40px;
}
.copyright p {
	color:  rgba(139, 139, 139, 0.5);
	font-size: 14px;
	font-weight: 300;
}
.designLink p {
	color:  #8b8b8b;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.designLink a {
	text-decoration: none;
	color:  #8b8b8b;
}
.designLink:hover a {
	color:  #000000;
	font-weight: 400;
}

